
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <% @advices.each_with_index  do |advice , index| %>
  <div class="panel panel-default" id="advice_<%=advice.id %>">
    <div class="panel-heading" role="tab" id="heading<%= index +1 %>">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse<%= index +1 %>" aria-expanded="false" aria-controls="collapse<%= index +1 %>">
        <%= advice.title %> | <%= link_to 'Show', advice %> | <%= link_to 'Edit', edit_advice_path(advice) %> |<%= link_to 'Destroy', advice, method: :delete, data: { confirm: 'Are you sure?' } %>
        </a>
      </h4>
    </div>
    <div id="collapse<%= index +1 %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="false">
      <div class="panel-body">
      <%= advice.details %>
      </div>
    </div>
  </div>
  <% end %>

</div>

<br>
