<p id="notice"><%= notice %></p>

<h1>أفضل ذكرياتك</h1>



<div class="row">
  <div class="container">
    <% @memories.each do |memory| %>
      <a class="example-image-link" href="<%= memory.image.url %>" data-lightbox="example-set"
      data-title="<%= memory.title %>">
        <%= image_tag memory.image.url(:thumb), class: "example-image" %>
      </a>

<% end %>
</div>
       </div>


<br>

<%= link_to 'New Memory', new_memory_path %>
